@using Region=Ext.Net.Region

@model System.Collections.IEnumerable
@*@model IEnumerable<Ext.Net.MVC.Examples.Areas.Portal.Models.Companies>*@

@{
    ViewBag.Title = "Portal - Ext.NET Examples";
    Layout = "~/Views/Shared/_BaseLayoutNoMgr.cshtml";
}

@section headtag
{
    <script>
        var template = '<span style="color:{0};">{1}</span>';

        var change = function (value) {
            return Ext.String.format(template, (value > 0) ? "green" : "red", value);
        };

        var pctChange = function (value) {
            return Ext.String.format(template, (value > 0) ? "green" : "red", value + "%");
        };

        (function () {
            var prevWidth = 10000,
                viewPort,
                thresholdWidth = 600,
                resizeHandler = function (width, height) {
                    var portal,
                        menu,
                        breadcrumb,
                        wide, 
                        narrow,
                        north;
                    viewPort = viewPort || Ext.ComponentQuery.query("viewport")[0];

                    if (!viewPort) {
                        return;
                    }
                    narrow = width < thresholdWidth && thresholdWidth <= prevWidth;
                    wide = width >= thresholdWidth && thresholdWidth > prevWidth;

                    if (wide || narrow) {
                        Ext.suspendLayouts();
                        portal = viewPort.down("portalpanel");
                        menu = viewPort.down("#managementMenu");
                        breadcrumb = viewPort.down("#breadcrumb");

                        if (narrow) {                            
                            portal.items.each(function(column){
                                column._columnWidth = column.columnWidth;
                                column.columnWidth = 1;

                                column._flex = column.flex;
                                delete column.flex;

                                column.items.each(function(item){
                                    item._minHeight = item.minHeight;
                                    item.minHeight = item.minHeight >= 300 ? item.minHeight : 300;
                                });
                            });

                            breadcrumb.insert(0, {
                                xtype : "button",
                                text : (menu.menu.getComponent(menu.selectedIndex || 0)).text,
                                menu : {
                                    items : menu.menu.removeAll(false),
                                    listeners : {
                                        click : function (menu, item) {
                                            this.up("button").setText(item.text);
                                        }
                                    }
                               }                            
                            });

                            menu.hide();
                            north = viewPort.down("#north");
                            north.setHeight(150);
                            north.getLayout().setActiveItem(1);
                            north.getComponent(1).add(north.getComponent(0).removeAll(false));                            
                        }
                        else if (wide) {                            
                            portal.items.each(function(column){
                                column.columnWidth = column._columnWidth;
                                column.flex = column._flex;

                                column.items.each(function(item){
                                    item.minHeight = item._minHeight;
                                });
                            });

                            menu.menu.add(breadcrumb.getComponent(0).menu.removeAll(false));
                            breadcrumb.getComponent(0).destroy();
                            menu.show();
                            north = viewPort.down("#north");
                            north.getLayout().setActiveItem(0);
                            north.getComponent(0).add(north.getComponent(1).removeAll(false));
                            north.setHeight(100);
                        }

                        Ext.resumeLayouts(false);
                        viewPort.updateLayout();
                    }                    

                    prevWidth = width;                    
                };

                Ext.EventManager.onWindowResize(resizeHandler, window, {buffer : 100});
                Ext.net.Bus.subscribe("App.resize", function (){
                    resizeHandler(Ext.Element.getViewportWidth());
                });
        })();
        
    </script> 
}

@section example
{
    @Html.X().ResourceManager(this.ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Gray)

    @(
 Html.X().Viewport()
        .Layout(LayoutType.VBox)
        .LayoutConfig(
            new VBoxLayoutConfig { Align = VBoxAlign.Stretch }
        )
        .Listeners(l => {
            l.AfterLayout.BroadcastOnBus = "App.resize";
            l.AfterLayout.Single = true;          
        })
        .Items(regions =>
        {
            regions.Add(Html.X().Panel()
                    .ItemID("north")
                    .Height(100)
                    .Header(false)
                    .Border(false)
                    .TopBar(Html.X().Toolbar().Items(items =>
                    {
                        items.Add(new ToolbarTextItem { Text = "You are logged in as:" });
                        items.Add(new HyperLink { Text = "Jack Smith" });

                        items.Add(new ToolbarSpacer());
                        items.Add(new ToolbarSeparator());
                        items.Add(new ToolbarSpacer());

                        items.Add(new HyperLink { Text = "Logout" });

                        items.Add(new ToolbarSpacer());
                        items.Add(new ToolbarSeparator());
                        items.Add(new ToolbarSpacer());

                        items.Add(new HyperLink { Text = "My Profile" });

                        items.Add(new ToolbarSpacer());
                        items.Add(new ToolbarSeparator());
                        items.Add(new ToolbarSpacer());

                        items.Add(new HyperLink { Text = "Messages (3)" });

                        items.Add(new ToolbarSpacer());
                        items.Add(new ToolbarSeparator());
                        items.Add(new ToolbarSpacer());

                        items.Add(new HyperLink { Text = "Help" });

                        items.Add(new ToolbarFill());

                        items.Add(new Button
                        {
                            Text = "My Account",
                            Margins = "0 20 0 0",
                            Menu =
                            {
                                new Menu{
                                    Items = { 
                                        new MenuItem { Text =  "Settings", Icon = Icon.Cog },
                                        new MenuItem { Text =  "About", Icon = Icon.Information }
                                    }
                                }
                            }
                        });
                    }))
                    .Layout(LayoutType.Card)
                    .Items(
                        Html.X().Container()
                            .Layout(LayoutType.HBox)
                            .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle })
                            .Items(items =>
                            {
                                items.Add(new Image
                                {
                                    ImageUrl = "~/Areas/Portal/Content/companyx_logo.png",
                                    Width = 296,
                                    Height = 72
                                });
                                items.Add(Html.X().Container().Flex(1));

                                items.Add(new Container
                                {
                                    LayoutConfig = {
                                        new HBoxLayoutConfig {Align = HBoxAlign.Middle, Pack = BoxPack.End}
                                    },
                                    Width = 280,
                                    Height = 40,
                                    Items = { 
                                        Html.X().TextField()
                                            .ID("txtSearch")
                                            .Margins("0 10 0 0")
                                            .EmptyText("Search...")
                                            .Width(215),
                                            
                                        Html.X().Button()
                                            .Icon(Icon.Magnifier)
                                            .Margins("0 20 0 0")
                                            .OnClientClick("Ext.Msg.notify('Search', 'Term : ' + App.txtSearch.getValue());")    
                                    }
                                });
                            }),

                         Html.X().Container()
                            .Layout(LayoutType.VBox)
                    )
                );
            regions.Add(Html.X().TabPanel()
                .Flex(1)
                .ActiveTabIndex(1)
                .Items(tabs =>
                {
                    tabs.Add(Html.X().Panel()
                        .Title("Home")
                        .BodyPadding(10)
                        .Html("Home Page"));
                    tabs.Add(Html.X().Panel()
                        .Title("Management")
                        .Layout(LayoutType.HBox)
                        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch })
                        .Items(items =>
                        {
                            items.Add(Html.X().MenuPanel()
                                .ItemID("managementMenu")
                                .Width(215)
                                .Border(false)
                                .SelectedIndex(0)
                                .Menu(menu =>
                                {
                                    menu.Add(new MenuItem { Text = "Dashboard" });
                                    menu.Add(new MenuItem { Text = "Employees" });
                                    menu.Add(new MenuItem { Text = "Sales" });
                                    menu.Add(new MenuItem { Text = "Inventory" });
                                }));
                            items.Add(Html.X().Panel()
                                .Flex(1)
                                .Border(false)
                                .Header(false)
                                .TopBar(new Toolbar
                                {
                                    ItemID = "breadcrumb",
                                    Items = { 
                                            new HyperLink { Text = "Management", Margins = "5 0 5 20" },
                                            new ToolbarSpacer(),
                                            new ToolbarTextItem { Text = "/" },
                                            new ToolbarSpacer(),
                                            new ToolbarTextItem { Text = "Dashboard" }
                                            }
                                })
                                .Layout(LayoutType.VBox)
                                .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                                .Items(baseboard =>
                                {
                                    baseboard.Add(Html.X().Container()
                                        .Height(50)
                                        .Layout(LayoutType.HBox)
                                        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Middle })
                                        .Items(dbHeaderItems =>
                                        {
                                            dbHeaderItems.Add(Html.X().Container()
                                                .Html("<h1 style=\"color:#333; margin-bottom:0px; font-size: 24px;\">Dashboard</h1>")
                                                .Margins("10 0 10 20"));
                                            dbHeaderItems.Add(Html.X().Container().Flex(1));
                                            dbHeaderItems.Add(Html.X().Button()
                                                .Text("Dashboard Settings")
                                                .Icon(Icon.Cog)
                                                .Margins("0 20 0 0"));
                                        }));
                                    baseboard.Add(
                                        // Portal Start

                                        Html.X().Portal()
                                            .Border(false)
                                            .Flex(1)
                                            .Items(columns =>
                                            {
                                                columns.Add(Html.X().PortalColumn()
                                                    .Cls("x-column-padding")
                                                    .MarginSpec("0 10 0 10")
                                                    .Flex(1)
                                                    .Items(portlets =>
                                                    {
                                                        portlets.Add(Html.X().Portlet()
                                                            .Title("Status")
                                                            .Closable(false)
                                                            .Layout(LayoutType.Fit)
                                                            .Anchor("100% 50%")
                                                            //.Height(350)
                                                            .TopBar(new Toolbar
                                                            {
                                                                Items = { 
                                                                    new Button { 
                                                                        Text = "Reload",
                                                                        Icon = Icon.ArrowRefresh,
                                                                        OnClientClick = "App.Store1.load()"
                                                                    }
                                                                }
                                                            })
                                                            .Items(Html.X().Chart()
                                                                .Animate(true)
                                                                .Shadow(true)
                                                                .Border(false)
                                                                .InsetPadding(10)
                                                                .Theme("Base:gradients")
                                                                .LegendConfig(new ChartLegend
                                                                {
                                                                    Position = LegendPosition.Right
                                                                })
                                                                .Series(series => {
                                                                    series.Add(Html.X().PieSeries()
                                                                        .AngleField("Data1")
                                                                        .ShowInLegend(true)
                                                                        .Donut(0)
                                                                        .Highlight(true)
                                                                        .HighlightSegmentMargin(20)
                                                                        .Label(new SeriesLabel
                                                                        {
                                                                            Field = new string[] { "Name" },
                                                                            Display = SeriesLabelDisplay.Rotate,
                                                                            Contrast = true,
                                                                            Font = "18px Arial"
                                                                        })
                                                                    );                                                              
                                                                })
                                                                .Store(Html.X().Store()
                                                                    .ID("Store1")
                                                                    .AutoLoad(true)
                                                                    .Proxy(
                                                                        Html.X().AjaxProxy()
                                                                            .Url(Url.Action("GetChartData"))
                                                                            .ActionMethods(actions =>
                                                                            {
                                                                                actions.Read = HttpMethod.POST;
                                                                            })
                                                                            .Reader(
                                                                                Html.X().JsonReader().Root("result")
                                                                            )
                                                                    )
                                                                    .Model(Html.X().Model()
                                                                        .Fields(
                                                                            new ModelField("Name"),
                                                                            new ModelField("Data1"),
                                                                            new ModelField("Data2")
                                                                        )
                                                                    )

                                                                )
                                                            )
                                                            );

                                                        portlets.Add(Html.X().Portlet()
                                                            .Title("History")
                                                            .Closable(false)
                                                            .Layout(LayoutType.Fit)
                                                            .Anchor("100% 50%")
                                                            //.Height(350)
                                                            .TopBar(new Toolbar
                                                            {
                                                                Items = { 
                                                                    new Button { 
                                                                        Text = "Reload",
                                                                        Icon = Icon.ArrowRefresh,
                                                                        OnClientClick = "App.Store1.load()"
                                                                    }
                                                                }
                                                            })
                                                            .Items(Html.X().Chart()
                                                                .StoreID("Store1")
                                                                .Animate(true)
                                                                .Shadow(true)
                                                                .Border(false)
                                                                .StyleSpec("background:#fff;")
                                                                .InsetPadding(10)
                                                                .StandardTheme(StandardChartTheme.Category1)
                                                                .Theme("Base:gradients")
                                                                .LegendConfig(new ChartLegend
                                                                {
                                                                    Position = LegendPosition.Right
                                                                })

                                                                .Axes(axes =>
                                                                {

                                                                    var axis = new NumericAxis
                                                                    {
                                                                        Fields = new string[] { "Data1", "Data2" },
                                                                        Title = "Number of Hits",
                                                                        MinorTickSteps = 1,
                                                                        Minimum = 0
                                                                    };

                                                                    axes.Add(axis);

                                                                    axes.Add(new CategoryAxis
                                                                    {
                                                                        Position = Position.Bottom,
                                                                        Fields = new string[] { "Name" },
                                                                        Title = "Month of the Year"
                                                                    });
                                                                })
                                                                .Series(series =>
                                                                {
                                                                    series.Add(Html.X().LineSeries()
                                                                        .Axis(Position.Left)
                                                                        .XField(new string[] {"Name"})
                                                                        .YField(new string[] {"Data1"})
                                                                        .HighlightConfig(new SpriteAttributes
                                                                        {
                                                                            Size = 7,
                                                                            Radius = 7
                                                                        })
                                                                        .MarkerConfig(new SpriteAttributes
                                                                        {
                                                                            Type = SpriteType.Cross,
                                                                            Size = 4,
                                                                            Radius = 4,
                                                                            StrokeWidth = 0
                                                                        }));

                                                                    series.Add(Html.X().LineSeries()
                                                                        .Axis(Position.Left)
                                                                        .Smooth(3)
                                                                        .XField(new string[] {"Name"})
                                                                        .YField(new string[] {"Data2"})
                                                                        .Fill(true)
                                                                        .HighlightConfig(new SpriteAttributes
                                                                        {
                                                                            Size = 7,
                                                                            Radius = 7
                                                                        })
                                                                        .MarkerConfig(new SpriteAttributes
                                                                        {
                                                                            Type = SpriteType.Cross,
                                                                            Size = 4,
                                                                            Radius = 4,
                                                                            StrokeWidth = 0
                                                                        }));

                                                                })
                                                            )
                                                            );
                                                    }));

                                                columns.Add(Html.X().PortalColumn()
                                                    .Cls("x-column-padding")
                                                    .MarginSpec("0 10 0 10")
                                                    .Flex(1)
                                                    .Items(portlets =>
                                                    {
                                                        portlets.Add(Html.X().Portlet()
                                                            .Title("Employees")
                                                            .Layout(LayoutType.Fit)
                                                            .Anchor("100% 100%")
                                                            .Closable(false)
                                                            .Items(Html.X().GridPanel()
                                                                .Header(false)
                                                                .Border(false)
                                                                .Store(Html.X().Store()
                                                                    .AutoLoad(true)
                                                                    .Proxy(
                                                                        Html.X().AjaxProxy()
                                                                            .Url(Url.Action("GetPersons"))
                                                                            .ActionMethods(actions =>
                                                                            {
                                                                                actions.Read = HttpMethod.POST;
                                                                            })
                                                                            .Reader(
                                                                                Html.X().JsonReader().Root("result")
                                                                            )
                                                                    )
                                                                    .Model(Html.X().Model()
                                                                        .Fields(
                                                                            new ModelField("FirstName"),
                                                                            new ModelField("LastName"),
                                                                            new ModelField("Status")
                                                                        )
                                                                    )

                                                                )
                                                                .ColumnModel(
                                                                    Html.X().Column().Text("Last Name").DataIndex("LastName").Flex(1),
                                                                    Html.X().Column().Text("First Name").DataIndex("FirstName").Flex(1),
                                                                    Html.X().Column().Text("Status").DataIndex("Status")
                                                                )
                                                            )

                                                            );
                                                    }));
                                            })

                                        // Portal End
                                        );
                                })
                                );
                        })
                        );
                    tabs.Add(Html.X().Panel()
                        .Title("Projects")
                        .BodyPadding(10)
                        .Html("Projects &amp; Teams"));
                })
                );
        })
)
}